!/generate_yelp_dataset.py
!/test_download_tips.py
!beta_rec/datasets/

#*.ipynb
*.DS_Store
*.b
*.ckp
*.ckpt.*
*.class
*.classpath
*.csv
*.emb
*.log
*.model
*.npy
*.npz
*.o*
*.pdf
*.pickle
*.pkl
*.project
*.pt
*.pyc
*.pydevproject
*.swp
*.tar.gz
*.zip
*events.out.*
.coverage
coverage.xml
docs/_build
files.txt
generate_processed_data.ipynb
test_dataset_base.ipynb

*.e*
*.egg-info/
*.ipynb_checkpoints/
*.ipynb_checkpoints
.idea/
.pytest_cache/
build/
checkpoints/
datasets/
dist/
html/
logs/
processes/
results/
runs/
samples/
tmp/
tune_results/
_output
