*.csv
*.pdf
*.b
*.class
*.project
*.classpath
*.pickle
*.emb
*.pkl
*.tar.gz
*.zip
*.ckp
*.log
*events.out.*
*.swp
*.e*
*.o*
*.model
*.DS_Store
*.project
*.pydevproject
*.pt
*.pyc
*.npz
*.ipynb_checkpoints
*.ipynb_checkpoints/
*.npy
*.ckpt.*
.coverage
coverage.xml
.idea/
.pytest_cache/
logs/
results/
checkpoints/
datasets/
!beta_rec/datasets/
runs/
samples/

