requests~=2.23.0
prometheus_client
tensorboardX~=2.0
ray~=0.8.5
torch==1.4.0
numpy==1.18.1
tqdm==4.45.0
pytest==5.4.1
flake8==3.7.9
pytest-cov==2.8.1
pandas==1.0.3
mock==4.0.1
scipy==1.4.1
scikit-learn==0.22.2.post1
gputil==1.4.0
aiofiles~=0.4.0
aiohttp~=3.6.2
nest_asyncio
livelossplot~=0.5.0
cornac
py-cpuinfo~=5.0.0
psutil~=5.7.0
tabulate~=0.8.7
py7zr~=0.6
flake8-black==0.1.2
wheel
sphinx_markdown_tables~=0.0.14
flake8-isort
isort==4.3.20