requests==2.24.0
tensorboardX==2.1
ray==1.0.1
torch==1.7.1
numpy==1.16.0
tqdm==4.45.0
pytest==5.4.1
flake8==3.7.9
pytest-cov==2.8.1
pandas==1.0.3
mock==4.0.1
scipy==1.4.1
scikit-learn==0.22.2.post1
gputil==1.4.0
aiofiles~=0.4.0
aiohttp~=3.6.2
nest_asyncio~=1.3.3
livelossplot~=0.5.0
py-cpuinfo~=5.0.0
psutil~=5.7.0
tabulate~=0.8.7
py7zr~=0.6
flake8-black==0.2.1
wheel~=0.34.2
sphinx_markdown_tables~=0.0.14
flake8-isort==4.0.0
flake8-docstrings==1.5.0
isort==5.5.2
rstcheck~=3.3.1
black==19.10b0
munch==2.5.0
prometheus-client==0.8.0
